.card {
  height: 96px;
  border-radius: 4px;
  margin-right: 0.25rem;
  cursor: pointer;

  .image {
    height: 100%;
    width: auto;
  }

  &.common {
    border: 2px solid #3098bd;
  }

  &.rare {
    border: 2px solid #3098bd;
  }

  &.epic {
    border: 2px solid #9623d8;
  }

  &.legendary {
    border: 2px solid #c59d2c;
  }
}
