.marquee {
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding: 0.5rem 0;
  margin-bottom: 1rem;

  &::-webkit-scrollbar {
    height: 0.5rem;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 1px solid slategrey;
    border-radius: 4px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    cursor: pointer;
  }
}
